* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #212121; /* Fond noir */
    color: #fff; /* Texte blanc */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* S'assure que le contenu occupe toute la hauteur de la fenêtre */
    width: 100%; /* Force le body à occuper toute la largeur */
}

.container {
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1; /* Permet au contenu principal d'occuper l'espace restant */
    display: flex;
    flex-direction: column;
    width: 100%; /* S'assure que le container occupe toute la largeur */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #212121; /* Header noir */
    border-bottom: 1px solid #fff; /* Border blanche */
    width: 100%; /* Assure que le header prend toute la largeur */
    box-sizing: border-box; /* Assure que la largeur inclut les paddings */
}

.logo img {
    height: 85px;
}

.navigation {
    display: flex;
    justify-content: center; /* Centre la barre de navigation */
    flex-grow: 1; /* Permet à la barre de navigation de prendre toute la largeur restante */
    padding: 0 20px; /* Ajoute un petit padding horizontal */
}

.navigation ul {
    display: flex;
    gap: 40px; /* Espacement augmenté entre les liens */
    margin: 0;
    padding: 0;
    justify-content: center; /* Centre les éléments à l'intérieur de ul */
    list-style: none;
}

.navigation li {
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: #fff; /* Texte blanc dans le header */
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 10px; /* Réduit l'espace à gauche */
    margin-right: 20px; /* Ajuste la marge à droite pour rapprocher le profil */
}

.search-bar input {
    padding: 8px 40px 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.search-bar button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.search-bar button img {
    width: 20px;
    height: auto;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px; /* Ajuste l'espace à gauche */
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.main {
    padding: 20px 0;
    flex-grow: 1; /* Permet au contenu principal d'occuper l'espace restant */
    width: 100%; /* Assure que la section principale occupe toute la largeur */
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-between;
    gap: 40px; /* Espacement plus large entre les fonctionnalités */
}

.feature {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.feature img {
    max-width: 100%;
    height: auto;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #212121; /* Footer plus noir */
    border-top: 1px solid #fff; /* Border blanche */
    width: 100%; /* Assure que le footer prend toute la largeur */
    color: #fff;
    margin-top: auto; /* Force le footer en bas de la page */
    /* test */
}

.boat-image-container {
    width: 100%; /* L'image prend toute la largeur */
    margin-top: 0px; /* Espace entre le bouton et l'image */
}

.boat-image {
    width: 100%; /* L'image s'étend sur toute la largeur */
    height: 500px; /* Garde les proportions de l'image */
    display: block; /* Supprime les espaces en dessous de l'image */
}

