* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background-color: #212121; /* Fond noir */
    color: #fff; /* Texte blanc */
  }
  
  .container {
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #212121; /* Header noir */
    border-bottom: 1px solid #fff; /* Border blanche */
    width: 100%; 
  }
  
  .logo img {
    height: 85px;

  }
  
  .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 20px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .main {
    padding: 20px 0;
  }
  
  .hero {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
  }
  
  .feature {
    flex: 1;
    margin: 0 10px;
    text-align: center;
  }
  
  .feature img {
    max-width: 100%;
    height: auto;
  }
  
  .footer {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    border-top: 1px solid #eee;
    width: 100%;
  }

  .input-email {
    width: 80%; /* Réduit la largeur à 80% du conteneur parent */
    padding: 0.5rem; /* Réduit l'espace intérieur */
    font-size: 0.9rem; /* Diminue la taille du texte */
    border: 1px solid #ccc; /* Ajout d'une bordure fine */
    border-radius: 5px; /* Coins arrondis */
    background-color: #f9f9f9; /* Couleur de fond plus douce */
  }